<h1>
  Add a new match
</h1>


<hr>

<form action="/create_match" method="post">

  <input type="hidden" name="seller" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="buyer">
      Buyer
    </label>

    <input type="text" id="buyer" name="buyer" class="form-control">
  </div>

  <div class="form-group">
    <label for="dining_hall">
      Dining hall
    </label>

    <input type="text" id="dining_hall" name="dining_hall" class="form-control">
  </div>

  <div class="form-group">
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" class="form-control">
  </div>

  <div class="form-group">
    <label for="meeting_time">
      Meeting time
    </label>

    <input type="text" id="meeting_time" name="meeting_time" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create match
  </button>
</form>

<hr>

<a href="/matches">
  Go back
</a>
